:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    margin-left: 45px;
    padding-left: 45px;
}

h1 {
    font-size: 90px;
    margin-top: 70px;
    text-align: center;
}

h3 {
    font-size: 20px;
    opacity: 0.7;
    text-align: center;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    font-size: small;
}

.navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
    font-size: 14px;
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

#contact {
    margin-top: 35px;
}

.button-hover {
    color: rgb(212, 207, 207);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: small;

}

    .navbar {
        font-size: 48px;
        line-height: 1.5;
    }
    .nav-item {
        color: rgb(82, 6, 204);
        font-size: large;
    }
    