:root {
    --primary-color: #6c63ff;
    --secondary-color: #6bd5e7;
    --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 30px;
    
}
h3 {
    text-align: center;
    font-family: 'Alumni Sans Inline One', sans-serif;
}

p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
h2{
    font-size: 35px;
}

.btn-button{
    font-size: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: var(--box-shadow);
    padding: 15px 30px;
    margin-bottom: 10px;
}

.btn-button:hover {
    background-color: var(--secondary-color);
}

.button-learn{
    border: 1px solid var(--primary-color);
    background-color: rgb(245, 159, 159);
    color: #101011;
    border-radius: 4px;
    font-size: 18px;
    padding: 15px 30px;
    line-height: 27px;
    margin-bottom: 10px;

}
.button-learn:hover{
    background-color: rgb(171, 171, 238);
}

.contents{
    padding: 40px 10px;
}
@media (max-width: 960px) {
    .contents {
        padding: 0;
        text-align: center;
    }
}
.container img:hover{
    opacity: 1;
    box-shadow: var(--box-shadow);
}
.greetings{
    font-size: 30px;
    margin-top: 25px;
}
.about-paragraphs{
    margin-top: 70px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}
.info{
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
}

.btn-projects{
    border: 1px solid var(--primary-color);
        background-color: rgb(67, 100, 245);
        color: #f8f8fc;
        border-radius: 10px;
        font-size: 18px;
        padding: 15px;
        line-height: 27px;  
        margin-top: 50px;    
        
}
.btn-projects:hover{
    background-color: #6bd5e7;
}
.container-about img{
    border-radius: 20px;
}
.container-about{
    margin-left: 50px;
}
