:root {
    --primary-color: #6c63ff;
    --secondary-color: #12c9ea;
    --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(254, 232, 254);
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Roboto Slab',
        serif;
    
}
h3 {
    text-align: center;
    font-family: 'Alumni Sans Inline One', sans-serif;
}
h4{
    font-size: 48px;
    font-weight: bolder;
}

p {
    font-size: 16px;
    font-family: 'Poppins',
        sans-serif;
    margin-top: 10px;
}
h2{
    font-size: 35px;
    font-family: 'Roboto Slab',
        serif;
}

.btn-button{
    font-size: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: var(--box-shadow);
    padding: 15px 30px;
    margin-bottom: 10px;
}

.btn-button:hover {
    background-color: var(--secondary-color);
}

.button-learn{
    border: 1px solid var(--primary-color);
    background-color: rgb(244, 246, 212);
    color: #101011;
    border-radius: 4px;
    font-size: 18px;
    padding: 15px 30px;
    line-height: 27px;
    margin-bottom: 10px;

}
.button-learn:hover{
    background-color: var(--secondary-color);

}
.launch-btn{
    font-size: 20px;
        background-color: var(--primary-color);
        color: rgb(14, 13, 13);
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease;
        box-shadow: var(--box-shadow);
        padding: 15px 30px;
        margin-bottom: 10px;
}

.contents{
    padding: 40px 10px;
}
@media (max-width: 960px) {
    .contents {
        padding: 0;
        text-align: center;
    }
}
.container img:hover{
    opacity: 1;
    box-shadow: var(--box-shadow);
}
.greetings{
    font-size: 30px;
    font-family: 'Poppins',
        sans-serif;
    color: #2a2283;
}
.logo{
    max-width: 150px;
}
.small{
    max-width: 80px;
}
.about-paragraphs{
    margin-top: 70px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
}
.info{
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
}
.work-data{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-style: italic;
}

.btn-projects{
    border: 1px solid var(--primary-color);
        background-color: rgb(67, 100, 245);
        color: #f8f8fc;
        border-radius: 10px;
        font-size: 18px;
        padding: 15px;
        line-height: 27px;  
        margin-top: 50px;    
}
.btn-projects:hover{
    background-color: var(--secondary-color);
}
.container-about img{
    border-radius: 20px;
}
.container-about{
    margin-left: 50px;
}
.work-container{
    padding: 30px;
    margin: 0;
}
.script{
    font-family: 'Saira Condensed',
        sans-serif;
}
.work-contents{
    text-align: center;
    font-family: 'Poppins',
        sans-serif;

}

#details{
    list-style: none;
    font-size: 20px;
    font-family: 'Poppins',
            sans-serif;
}
.contacts-info{
font-family: 'Poppins',
        sans-serif;
        margin-top: 70px;
        font-size: 80px;
}
nav li.active a {
    color: var(--secondary-color);
}

nav li{
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-family: 'Saira Condensed',
        sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: large;

}
nav a{
    text-decoration: none; 
    color: gray;
    transition: all 0.1s ease;
}
nav a:hover{
    color: var(--secondary-color);
}


.inquiry-box{
    background: #f8f8fc;
    border-radius: 15px;
    padding: 10px 60px;
    font-family: 'Poppins',
        sans-serif;
    line-height: 20px;
}
.btn{
    border-radius: 20px;
}

footer #email-link{
    text-decoration: none;
    color: #0a0a46;
    font-size: 20px;
    text-align: center;
    
}
#email-link:hover{
    color: var(--secondary-color);
    }
.social-links a{
     padding: 10px;
     text-decoration: none;
     margin: 0 20px;
     font-size: 20px;
     transition: all 150ms ease;
     color: var(--primary-color);
     background-color: rgb(247, 243, 246);
}
.social-links a:hover{
       color: #f8f8fc;
       background-color: var(--secondary-color);
    }
    .weather-image{
        width: 500px;
        height: 600px;
    }
    .trans-image{
        width: 400px;
        height: 550px;
    }



